{% extends "base.html" %}
{# <ul class="entries">
    {{ range .Pages }}
    <li>
        <span class="title">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </span>
        <span class="published">
            <time class="pull-right post-list">{{ .Date | time.Format ":date_long" }}</time>
        </span>
    </li>
    {{ end }}
</ul> #}
{# {%- block content %}
<h1>Blog</h1>
<h2><a href="/blog/index.xml">RSS</a></h2>
<p>
    I make posts here about any subject that interests me. Posts are far and few
    between but usealy high quality. For more frequent ad hoc posts check out
    <a target="_blank" href="https://mb.pine32.be/">mb</a>.
</p>
<div>
    {%- for page in paginator.pages %}
    {%- endfor %}
</div>
{%- endblock content %} #}

{% block content %}
<h1 class="title">
    {{ section.title }}
</h1>
<ul>
    <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->
    {% for page in section.pages %}
    <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
    {% endfor %}
</ul>
{% endblock content %}