{% extends "base.html" %}

{% block content %}
<h1>Portfolio</h1>
<p>Some notable projects I have worked on,
    check out my <a target="_blank" href="https://github.com/Pineapple217">github</a> to see some of my other projects
    and what I am working on now.
</p>

<div class="big-project">
    <header>
        <h1>MB - a custom micro blog</h1>
        <p><a target="_blank" href="https://mb.pine32.be/">live</a> <a target="_blank"
                href="https://github.com/Pineapple217/mb">source</a></p>
    </header>
    <div class="flex-columns">
        <div>
            {% set image = resize_image(path="/img/mb.jpg", width=400, op="fit_width", format="webp") %}
            <img src="{{ image.url }}" alt="profile picture" width="{{ image.width }}" height="{{ image.height }}"
                class="pp" />
        </div>
        <div class="flex-text">
            <h3>What and why</h3>
            <p>Mb is as a micro blog server that aims to be small, fast and self contained.
                It is written in Golang with minimal dependencies and no Javascript.
                Designed to make the friction of making blog posts as low as posible.
            </p>
            <ul>
                <li>Deploy with a single binary file.</li>
                <li>A docker image which is under 8 MB.</li>
                <li>Fully self contained with no external dependencies.</li>
                <li>100% Javascript free.</li>
                <li>Build in media manager for images, video and audio.</li>
                <li>Highly performant and low latency.</li>
                <li>Custom Youtube and Spotify embeds.</li>
                <li>Extensive markdown support.</li>
            </ul>
        </div>
    </div>
    <div class="flex-columns">
        <div class="flex-text">
            <h3>What I have learned</h3>
            <ul>
                <li>Working in a constrained development environment (no JS).</li>
                <li>Extensive knowledge of HTTP and HTML5 standard: Utilizing builtin elements, caching (cache busting,
                    headers, etc.), authentication, ...</li>
                <li>Optimizing Docker builds for size and speed.</li>
                <li>Optimising a website for accessibility and search engines.</li>
                <li>Strong Golang fundamentals.</li>
            </ul>
            <br>
            <p>Check out the <a target="_blank" href="https://mb.pine32.be/?tag_mb_dev=on">devlogs</a> or the
                <a target="_blank" href="https://github.com/Pineapple217/mb?tab=readme-ov-file#about">readme</a> for
                more details.
            </p>
        </div>
        <div>
            {% set image = resize_image(path="/img/mb_media.jpg", width=400, op="fit_width", format="webp") %}
            <img src="{{ image.url }}" alt="profile picture" width="{{ image.width }}" height="{{ image.height }}"
                class="pp" />
        </div>
    </div>
</div>



<div class="big-project">
    <header>
        <h1>Lzp - a small Lisp-like language</h1>
        <p><a target="_blank" href="https://github.com/Pineapple217/lzp">source</a></p>
    </header>
    <div class="flex-columns">
        <div>
            {% set code = 
        '```lisp
; Printing the first 25 fibonacci numbers
(fun {fib n}
    {if (<= n 1)
        {n} 
        {+ (fib (- n 1)) (fib (- n 2))}
    }
)

(fun {cal s e}
    {if (<= e s)
        {nil}
        {do (print "fib" s ": " (fib s)) 
            (cal (+ s 1) e)}
    }
)

(cal 1 25)'
        %}
            {{ code | markdown(inline=true) | safe }}
        </div>
        <div class="flex-text">
            <p>Lzp is a small Lisp-like language fully written in C. I started this project to better understands Lisps
                and to learn the basic of the C programming language.
            </p>
            <ul>
                <li>Supports for light metaprogramming.</li>
                <li>Wrap state in partially completed functions.</li>
                <li>Recursive functions.</li>
                <li>Easily extensible with functions that act like keywords.</li>
                <li>Builtin prelude, compiled into the binary.</li>
                <li>All builtin builtin features are tested and documented.</li>
            </ul>
        </div>
    </div>
</div>
<div class="big-project">
    <header>
        <h1>Corap - Co2 data scraping</h1>
        <p><a target="_blank" href="https://corap.beta.pine32.be/devices">live</a> <a target="_blank"
                href="https://github.com/Pineapple217/Corap-web">source</a></p>
    </header>
    <div class="flex-columns">
        <div class="flex-text">
            <p>I have reverse engineered over 130 URL's of Co2 devices of my university. I am scraping this data to
                practise my data analysis skills. I am using a Python scraper in combination with a Golang webserver for
                visualization.</p>
            <ul>
                <li>Scraping Co2, temperature and humidity.</li>
                <li>Resilient webscraper.</li>
                <li>Over 1 year of scraping with more then <b>5 million</b> data points.</li>
                <li>Advanced and performant sql queries.</li>
                <li>Strong SEO, top result when searching for a classroom.</li>
                <li>Interactive webapp build with <a target="_blank" href="https://htmx.org/">HTMX</a>.</li>
                <li>100% selfhosted.</li>
            </ul>
        </div>
        <div>
            {% set image = resize_image(path="/img/corap.jpg", width=400, op="fit_width", format="webp") %}
            <img src="{{ image.url }}" alt="profile picture" width="{{ image.width }}" height="{{ image.height }}"
                class="pp" />
        </div>
    </div>
</div>
{{ page.content | safe }}
{% endblock content %}