{% extends "base.html" %}

{% block content %}
<h1>{{ section.title }}</h1>
<p>{{ section.description }}</p>

<ul class="date-list">
    <hr>
    {% for page in section.pages %}
    <div class="project-entry">
        <div class="project-entry-info">
            <h2 class="project-entry-title">
                {% if page.content %}
                <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
                {% else %}
                {{ page.title | safe }}
                {% endif %}
            </h2>
            <div class="project-techstack">
                {% for item in page.extra.techstack %}
                <span>{{ item }}</span>
                {% endfor %}
            </div>
            <div class="project-summary">
                {{ page.extra.summary }}
            </div>
            {% if page.extra.live_url or page.extra.source_url %}
            <div class="btn-group">
                {% if page.extra.live_url %}
                <a class="btn-primary" href="{{ page.extra.live_url }}" aria-label="Live for {{ page.title }}"
                    target="_blank">Live</a>
                {% endif %}
                {% if page.extra.source_url %}
                <a class="btn-secondary" href="{{ page.extra.source_url }}" taria-label="Source for {{ page.title }}"
                    arget="_blank">Source</a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
    <hr>
    {% endfor %}
</ul>
{% endblock content %}